@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-wrapper {
  overflow: hidden;
}

@include desktop-small {
  .home-wrapper {
    display: flex;
  }
}

// wrapper for all content
.content-wrapper {
  margin: 0rem 1.6rem;
}
