// colours variables
$red: #fc4747;
$dark-navy: #10141e;
$steel-blue: #5a698f;
$midnight-blue: #161d2f;
$white: #ffffff;

// font size variables
$heading-l: 3.2rem;
$body-m: 1.5rem;
$heading-m: 2.4rem;
$heading-s: 2.4rem;
$body-s: 1.3rem;
$heading-xs: 1.8rem;
